@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Yeseva+One&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
p{
    margin: 0px;
}
body{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #24345a;
}

.menu ul{
    display: flex;
    float: right;
}

/* ------- cabeçalho ------ */

header{
    background-color: #4242438a;
    height: 80px;
}


nav ul li{
    margin: 10px;
    list-style: none;
}
/* ------ home ------ */

#corpo{
    background-color: #6b61a93f;
    align-items: center;
}
/* ------- sobre mim ------- */
.sec1, .sec2{
    padding: 30px;
    text-align: center;
}

/* ------- projetos ------- */

.proj{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sec2 figure .img{
    width: 150px;
    height: 150px;
    background: url(../imagens/Imagem\ do\ WhatsApp\ de\ 2022-10-31\ à\(s\)\ 14.48.04.jpg) no-repeat;
    background-position: center;
    background-size: 190px 190px;
    border-radius: 50%;
    transition: .8s;
    transform:translateY(0) scale(0.9);
}

.sec2 figure .img:hover, .img:focus{
    transform: translateY(5px) scale(1.2);
    background-size: 150px 150px;
}

/* ------- contato ------- */

.contato{
    display: flex;
    flex-direction: column;
    text-align: center;
}
fieldset{
    border: none;
}
input{
    width: 300px;
    margin-bottom: 10px;
}
input, textarea{
    border: none;
    border-radius: 10px;
    background-color: #DAD8EA;
    box-shadow: 1px 1px 10px #374667b1;
    margin-top: 5px;
}

/* ------- rodape ------- */

.rodape{
    background-color: #4242438a;
    text-align: center;
}
